@font-face {
  font-family: "CircularAir";
  src: url("Circular_Air-Bold.woff") format("woff"),
    url("Circular_Air-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "CircularAir";
  src: url("Circular_Air-Book.woff") format("woff"),
    url("Circular_Air-Book.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "CircularAir";
  src: url("Circular_Air-Light.woff") format("woff"),
    url("Circular_Air-Light.ttf") format("truetype");
  font-weight: light;
}
