.rheostat {
  overflow: visible;
}

.rheostat-horizontal {
  height: 32px;
  margin: 0 16px;
}

.rheostat-background {
  background-color: #d8d8d8;
  position: relative;
  height: 6px;
  top: 15px;
  width: 100%;
}

.rheostat-progress {
  position: absolute;
  height: 6px;
  top: 15px;
  background-color: #008489;
}

.rheostat-handle {
  width: 32px;
  height: 32px;
  border-width: 1px;
  border-style: solid;
  border-color: #008489;
  background-color: #ffffff;
  border-radius: 32px;
  z-index: 2;
  box-shadow: 0 2px 2px #dbdbdb;
  margin-left: -16px;
  top: 2px;
}
