.container {
  width: 976px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-1 {
  flex-basis: 8.3333%;
}
.col-2 {
  flex-basis: 16.6666%;
}
.col-3 {
  flex-basis: 24.9999%;
}
.col-4 {
  flex-basis: 33.3333%;
}
.col-5 {
  flex-basis: 41.6665%;
}
.col-6 {
  flex-basis: 49.9998%;
}
.col-7 {
  flex-basis: 58.3331%;
}
.col-8 {
  flex-basis: 66.6664%;
}
.col-9 {
  flex-basis: 74.9997%;
}
.col-10 {
  flex-basis: 83.3333%;
}
.col-11 {
  flex-basis: 91.6663%;
}
.col-12 {
  flex-basis: 100%;
}

.offset-1 {
  flex-basis: 8.3333%;
}
